@model Question

<!-- fix formatting -->

<div class="row">
    @Html.HiddenFor(q => q.QuestionID)
    @Html.HiddenFor(q => q.SubmitterID)
    <div class="col-md">
        @Model.Text
    </div>
    <div class="col-md">
        @Model.Format
    </div>

    @foreach (var answer in Model.Answers)
    {
        @answer.Text   
    }
</div>