@model IEnumerable<Question>

<hr />

    <div class="row">
        <!--<div class="col-2 border-right btn-primary" id="submitter-sort">Submitter</div>-->
        <div class="col-2 border-right btn-secondary disabled">Question</div>
        <div class="col-2 border-right btn-primary" id="format-sort">Format</div>
        <div class="col-2 border-right btn-primary" id="category-sort">Category</div>
        <div class="col btn-secondary disabled"></div>
    </div>
    <br />
    <div id="questions">
@foreach(var question in Model)
{
    <div class="row questions border-top" data-submitter=@question.SubmitterID data-format=@question.Format data-category=@question.Category>
        @Html.HiddenFor(q => question.QuestionID)
        <div class="col-2">
        @Html.HiddenFor(q => question.SubmitterID) 
        </div>
        <div class="col-2 border-right">
            @question.Text
        </div>
        <div class="col-2">
            @switch(question.Format)
            {
                case Format.MultipleChoice: <span>Multiple Choice</span>
                break;
                case Format.TrueFalse: <span>True/False</span>
                break;
                case Format.ShortAnswer: <span>Short Answer</span>
                break;
                default: <span> Invalid/Format</span>
                break;
            }
        </div>
        <div class="col-2">
            @question.Category
        </div>
        <button id="showAnswers" aria-expanded="false" aria-controls=a-@question.QuestionID data-toggle="collapse" data-target=#a-@question.QuestionID class="btn btn-secondary btn-sm">
             Show/Hide answers</button> 
            <div class="col collapse" id=a-@question.QuestionID>
                <div class="col">
                @foreach(var answer in question.Answers)
                {
                    <div class="row">
                        <div class="col-1">
                            @if(answer.Correct)
                            {
                                <span style="color:Green">&check;</span>
                            }else
                            {
                                <span style="color:Red">&cross;</span>
                            }
                        </div>
                        <div class="col">
                            @answer.Text
                        </div>
                    </div>
                }
                </div>
            </div>
        <div class="col">
            <button class="btn btn-success float-right" id="AddQuestion" data-question-id=@question.QuestionID data-question-text=@question.Text>
            Add
            </button>
        </div>
       </div>
}
<div class="row">
    <label>Number of questions :</label>
    <select class="mr-3" id="AddNumber">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select>
    <label>Question Category :</label>
    <select class="mr-3" id="AddCategory">
        <option value="Any" selected="selected">Any</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Biology">Biology</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Physics">Physics</option>
        <option value="Geology">Geology</option>
    </select>
    <button class="btn btn-primary" id="AddRandom">
            Add Set
    </button>
</div>
 
<div>
    <div class="row">
        Question
    </div>
    <div id="questions-add">
    </div>
    <form id="AddForm">
    <input type="submit" name="Add" value="Add" formaction="Add" formmethod="Post" />
    </form>
</div>

@section Scripts
{
<script>
    $(document).ready(function () {
        var questions =
        {};

        function getIds(q)
        {
            var ret = []
            for(var key in questions)
                ret.push(key);
            return ret;
        };

        function genHtml(q)
        {
            var ret = '';
            for(var key in q)
            {
                ret += '<div class="row mb-2"> <div class="col-3"> ' +
                q[key] +
                '</div> <button class="btn-danger col-2" id="RemoveQuestion" data-question-id=' +
                key + '>Remove</button> </div>';
            }
            return ret;
        };

        $("#AddForm").submit( function(event) {
            event.preventDefault();
            $.post('@Url.Action("Add")', { questions : Object.keys(questions) },
                window.location.replace("/Round/index")
            );

        });

        $('body').on('click', '#AddQuestion', function() {
            questions[$(this).attr('data-question-id')] = $(this).attr('data-question-text');
            $('#questions-add').html(genHtml(questions));
        }); 

        $('body').on('click', '#RemoveQuestion', function() {
            delete questions[$(this).attr('data-question-id')];
            $('#questions-add').html(genHtml(questions));
        }); 

        $('#format-sort').on('click', function() {
            $toggle = !$toggle;
            var sorted = $divs.sort( function (a,b) {
                return $(a).attr('data-format') > $(b).attr('data-format') || $toggle;
            });
            $('#questions').html(sorted);
        });
        $('#category-sort').on('click', function() {
            $toggle = !$toggle;
            var sorted = $divs.sort( function (a,b) {
                return $(a).attr('data-category') > $(b).attr('data-category') || $toggle;
            });
            $('#questions').html(sorted);
        });
        $('#submitter-sort').on('click', function() {
            $toggle = !$toggle;
            var sorted = $divs.sort( function (a,b) {
                return $(a).attr('data-submitter') > $(b).attr('data-submitter') || $toggle;
            });
            $('#questions').html(sorted);
        });

    });
</script>
}