@model Question

@Html.HiddenFor(q => q.QuestionID)
@Html.HiddenFor(q => q.SubmitterID)
<div class="row">
    <div class="col">
        <div class="row mb-2">
            @Html.Label("Text", "Question", new { @class="col-lg-2"})
            @Html.TextAreaFor(q => q.Text, new { @class="col", required="required"})
        </div>
        <div class="row mb-2">
            @Html.LabelFor(q => q.Format, new { @class="col-lg-2"})
            <select class="col" data-val="true" data-val-required="The Format field is required." id="Format" name="Format">
                <option value="MultipleChoice" selected="selected">Multiple Choice</option>
                <option value="ShortAnswer" >Short Answer</option>
                <option value="TrueFalse"> True/False</option>
            </select>
        </div>
        <div class="row mb-2">
            <label class="col-lg-2">Category</label>
            <select class="col" data-val="true" data-val-required="The Category field is required." id="Category" name="Category">
                <option value="Computer Science" selected="selected">Computer Science</option>
                <option value="Biology">Biology</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Physics">Physics</option>
                <option value="Geology">Geology</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
<div class="answers col align-items-center">
    <div id="MultipleChoice">
        <div class="row">
            <div class="input-group col">
              <div class="input-group-prepend">
                <div class="input-group-text">A : </div>
              </div>
                @Html.TextBox("textA", "", new { @class="form-control"})
              <div class="input-group-append">
                <div class="input-group-text">
                    @Html.CheckBox("boolA", true)
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="input-group col">
              <div class="input-group-prepend">
                <div class="input-group-text"> B : </div>
              </div>
                @Html.TextBox("textB", "", new { @class="form-control"})
              <div class="input-group-append">
                <div class="input-group-text">

                    @Html.CheckBox("boolB", false )
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="input-group col">
              <div class="input-group-prepend">
                <div class="input-group-text">C : </div>
              </div>
                @Html.TextBox("textC", "", new { @class="form-control"})
              <div class="input-group-append">
                <div class="input-group-text">
                    @Html.CheckBox("boolC", false )
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="input-group col">
              <div class="input-group-prepend">
                <div class="input-group-text">D : </div>
              </div>
                @Html.TextBox("textD", "", new { @class="form-control"})
              <div class="input-group-append">
                <div class="input-group-text">
                    @Html.CheckBox("boolD", false )
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="ShortAnswer" style="display : none">
        <div class="col">
        @Html.TextArea("textShortAnswer", "", new { @class="form-control"})
        </div>
    </div>
    <div id="TrueFalseDiv" style="display : none">
        <select class="col align-self-center" id="TrueFalse" name="TrueFalse">
            <option value="True" selected="selected">True</option>
            <option value="False">False</option>
        </select>
    </div>
</div>
</div>
