@model List<Question>
@using Microsoft.AspNetCore.Identity
@using stembowl.Areas.Identity
@inject UserManager<ApplicationUser> UserManager

<hr />

    <div class="row">
        <div class="col-2 border-right btn-secondary disabled">Question</div>
        <div class="col-2 border-right btn-primary" id="format-sort">Format</div>
        <div class="col-2 border-right btn-primary" id="category-sort">Category</div>
        <div class="col btn-secondary disabled"></div>
    </div>
    <br />
<div id="questions">
@foreach(var question in Model)
{
    <div class="row questions border-top" data-format=@question.Format data-category=@question.Category>
        @Html.HiddenFor(q => question.QuestionID)
        @Html.HiddenFor(q => question.SubmitterID) 
        <div class="col-2 border-right">
            @question.Text
        </div>
        <div class="col-2">
            @switch(question.Format)
            {
                case Format.MultipleChoice: <span>Multiple Choice</span>
                break;
                case Format.TrueFalse: <span>True/False</span>
                break;
                case Format.ShortAnswer: <span>Short Answer</span>
                break;
                default: <span> Invalid/Format</span>
                break;
            }
        </div>
        <div class="col-2">
            @question.Category
        </div>
        <button id="showAnswers" aria-expanded="false" aria-controls=a-@question.QuestionID data-toggle="collapse" data-target=#a-@question.QuestionID class="btn btn-secondary btn-sm">
             Show/Hide answers</button> 
            <div class="col collapse" id=a-@question.QuestionID>
                <div class="col">
                @foreach(var answer in question.Answers)
                {
                    <div class="row">
                        <div class="col-1">
                            @if(answer.Correct)
                            {
                                <span style="color:Green">&check;</span>
                            }else
                            {
                                <span style="color:Red">&cross;</span>
                            }
                        </div>
                        <div class="col">
                            @answer.Text
                        </div>
                    </div>
                }
                </div>
            </div>
        <div class="col">
          <button type="button" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#m-@question.QuestionID">
          Delete
          </button> 
  
            <div class="modal fade" id="m-@question.QuestionID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      Are you sure you want to delete this quesion?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
                    @Html.ActionLink("Delete", "Delete", new { questionId=@question.QuestionID}, new {@class="btn btn-danger" })
                  </div>
                </div>
              </div>
            </div> 
           <!-- 
           not gonna implement this,inteface would be a nightmare
            @Html.ActionLink("Edit", "Edit", new { questionId=@question.QuestionID}, new {@class="btn btn-warning btn-sm float-right mr-2" })
           --> 
        </div>
    </div>
}
</div>

@Html.ActionLink("Create", "Create", new { userID=@UserManager.GetUserId(User)}, new { @class="btn btn-primary mt-4" })

@section Scripts
{
    <script>
    $(document).ready( function(){
        var $divs = $('div.questions');
        var $toggle = true;

        $('#format-sort').on('click', function() {
            $toggle = !$toggle;
            var sorted = $divs.sort( function (a,b) {
                return $(a).attr('data-format') > $(b).attr('data-format') || $toggle;
            });
            $('#questions').html(sorted);
            console.log(sorted);
        });
        $('#category-sort').on('click', function() {
            $toggle = !$toggle;
            var sorted = $divs.sort( function (a,b) {
                return $(a).attr('data-category') > $(b).attr('data-category') || $toggle;
            });
            $('#questions').html(sorted);
        });
    });
    </script>
}